@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap');

body {
    font-family: Inconsolata, sans-serif; /* Use Inconsolata as the main font */
    margin: 0;
    padding: 0;
    text-align: left;
    background: #f0f0f0; /* Assuming you want a light grey background for the body */
}

.hero-section {
    display: flex;
    align-items: center; /* Vertically center the items in the hero section */
    justify-content: center; /* Center the hero section content horizontally */
    background-color: #fff; /* White background for the hero section */
    padding: 50px 10%; /* Add padding on the top and bottom, and 10% from the left and right */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* A subtle shadow to lift the hero section */
}

.profile-image img {
    border-radius: 50%; /* Makes the image circular */
    width: 250px; /* Set a fixed width for the image */
    height: 250px; /* Set a fixed height for the image */
    object-fit: cover; /* Ensures the image covers the area without stretching */
    margin-right: 50px; /* Add space between the image and the profile info */
}

.profile-info {
    text-align: left; /* Align the text to the left */
}

.profile-info h1 {
    font-size: 2.5rem; /* Large font size for the name */
    margin-bottom: 0.5rem; /* Space between the name and the subtitle */
}

.profile-info h2 {
    font-size: 1.5rem; /* Smaller font size for the subtitle */
    margin-bottom: 1rem; /* Space between the subtitle and the paragraph */
}

.profile-info p {
    font-size: 1rem; /* Regular font size for the paragraph */
    margin-bottom: 2rem; /* Space between the paragraph and the buttons */
}

/* General style for links within .profile-actions */
.profile-actions a {
    font-weight: 400;
    width: fit-content;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    background-color: #000000;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: background-color 0.3s;
    text-decoration: none; /* Removes underline from the link */
    margin-right: 5px; /* Space between links */
}

/* Specific style for the VSCO link */
.vsco-link {
    display: flex; /* Use flexbox to align children */
    align-items: center; /* Center items vertically */
    justify-content: flex-start; /* Align items to the start of the container */
    padding: 10px; /* Add padding inside the link */
    border-radius: 15px; /* Rounded corners */
    margin-top: 10px; /* Add space on top of the VSCO link */
}

.vsco-logo {
    width: 40px; /* Width of the logo */
    height: 40px; /* Height of the logo */
    margin-right: 10px; /* Space between logo and text */
}

.profile-actions a:hover {
    background-color: #000000; /* Darker background on hover */
}


/* Style for the navbar */
.navbar {
    background-color: #333;
    overflow: hidden;
}

/* Remove default list styling */
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /* This will layout the list items horizontally */
    align-items: center; /* This will vertically align the items if the navbar has a height */
    justify-content: center; /* This will horizontally center the items */
}

/* Style for each list item */
.navbar li {
    display: inline-block; /* Display list items in a line */
}

/* Style for anchor tags inside the navbar */
.navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

/* Style for anchor tags on hover */
.navbar a:hover {
    background-color: #ddd;
    color: black;
}

