<!doctype html>
<html>
<body>
<div class="myDiv">
{% if name %}
    <h1>{{ name }}</h1>
{% else %}
    <h1>Home Page</h1>
{% endif %}
    This is where you will put the content of this page.
    <nav class="nav">
        <a href="{{ url_for('about') }}" class="nav__link">
            About Me
        </a>
    </nav>
</div>
</body>
<head>
    <title>Home</title>
    <meta name="description" content="My home page, on which I showcase my work!">
    <meta name="keywords" content="personal home page">
<style>
.myDiv {
  border: solid darkblue 5px;
  padding-bottom: 20px;
  background-color: lightblue;
  text-align: center;
  font-family: Sans-serif;
}
</style>
</head>
</html>
