{% extends 'layout.html' %}

{% block content %}
<div class="hero-section">
    <div class="profile-image">
        <img src="{{url_for('static', filename='Elena_funny.JPG')}}" alt="Elena Dreyer">
    </div>
    <div class="profile-content">
        <h1>I'm Elena Dreyer</h1>
        <p>bla bla bla</p>
        <div class="profile-actions">
            <!-- Other buttons or links can go here -->
            <a href="https://vsco.co/elenadreyer/gallery" class="vsco-link">
                <img src="{{url_for('static', filename='vsco-share-image.png')}}" alt="VSCO" class="vsco-logo">
                <span>Visit my VSCO</span>
            </a>
            <!-- Other buttons or links can go here -->
        </div>
    </div>
</div>
{% endblock %}
