{% extends 'layout.html' %}

{% block content %}
<div class="hero-section">
    <div class="profile-image">
        <img src="{{url_for('static', filename='portrait-elena.jpeg')}}" alt="Elena Dreyer">
    </div>
    <div class="profile-content">
        <h1>Welcome to my (digital) universe!</h1>
        <h2>Hey there - it's Elena.</h2>
        <p>When I'm not deep in the trenches of Python, coding away like there's no tomorrow, you'll find me roaming the streets with my camera on the hunt for the perfect snapshot. I've got a thing for capturing city life, from their towering buildings to the play of shadows on a sunny day. It's my own quirky way of taking a break from all that screen time.</p>
        <p>Curious? Check out my pictures on my VSCO :)</p>
        <div class="profile-actions">
            <a href="https://vsco.co/elenadreyer/gallery" class="vsco-link">
                <img src="{{url_for('static', filename='vsco-share-image.png')}}" alt="VSCO" class="vsco-logo">
                <span>Visit my VSCO</span>
            </a>
        </div>
    </div>
</div>
{% endblock %}
